# 250207 되새김문제3 박유빈

In [1]:
# 1. 조건문의 참과 거짓
a = "Life is too short, you need python"

if "wife" in a: print("wife")
    # wife라는 단어는 a에 없기 때문에 거짓이라 출력되지 않는다.
elif "python" in a and "you" not in a: print("python") 
    # and함수는 둘 다 참이어야 하는데 you는 a에 있기 때문에 거짓이라 출력되지 않는다.
elif "shirt" not in a: print("need")
    # shirt는 a에 없기 때문에 참이라서 need가 출력된다.
elif "need" in a: print("need")
    # need는 a에 없기 때문에 거짓이라 출력되지 않는다.
else: print("none")
# 하나가 참이여서 출력됐기 때문에 else는 출력되지 않는다.

need

In [2]:
# 2. 1부터 1000까지의 자연수 중 3의 배수 합 구하기
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0: 
       result += i
    i += 1

print(result)

166833

In [3]:
# 3. 별 표시하기
i = 0
while True:
    i += 1
    if i > 5 :break
    print(i*'*')

*
**
***
****
*****

In [4]:
# 1부터 100까지 출력하기
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
# 5. 평균 점수 구하기
A = [77, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total/10
print(average)

79.7

In [6]:
# 6. 리스트 컴프리헨션 사용하기
number = [1, 2, 3, 4, 5]
result = [num * 2 for num in number if num % 2 == 1]
print(result)

[2, 6, 10]