# 1. 자료형

## 1.1 리스트 자료형

### 1.1.1 리스트의 인덱싱과 슬라이싱

In [4]:
odd = [1,3,5,7,9]

In [6]:
a = []
b = [1,2,3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]
print(e[2])
print(e[2][0])
print(e[2][1])

['Life', 'is']
Life
is

In [7]:
print(b[1] + b[2])

5

In [9]:
print(b[1] + b[2])
print(c[0] + c[3])
print(c[0] * b[2])

5
Lifeshort
LifeLifeLife

In [29]:
# 리스트의 슬라이싱
a = [11,22,33,44,55]
print(a[:])
print(a[2:])
print(a[:-3])
print(a[-2:])
print(a[::-1])

[11, 22, 33, 44, 55]
[33, 44, 55]
[11, 22]
[44, 55]
[55, 44, 33, 22, 11]

In [16]:
a = [1,2,3,4,5]
print(a[1:3])

[2, 3]

### 1.1.2. 리스트 연산하기

In [22]:
a = [11,22,33]
b = [44,55,66]
# 리스트 더하기
print(a+b)
# 리스트 반복하기
c = a * 3
print(c)
# 리스트 길이 구하기
len(c)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 11, 22, 33, 11, 22, 33]

9

In [30]:
# 리스트 값 수정하기
a = [11,22,33]
a[2] = 44
print(a)
# a[3] = 55 
# print(a) #없는 요소를 수정하려고 하면 에러가 뜬다
# 리스트 값 삭제하기
del a[1] 
print(a)

[11, 22, 44]
[11, 44]

In [32]:
# 리스트값 슬라이싱으로 삭제
c = [1,2,3,4,5]
print(c)
del c[:4]
print(c)

[1, 2, 3, 4, 5]
[5]

In [32]:
# 리스트 요소 비우기
c.clear()
print(c)

[]

In [33]:
a=[] # 리스트 초기화

In [34]:
# 리스트 요소 추가
a.append(4)
print(a)
a. append([11,22])
print(a)

[11, 44, 4, [11, 22], 4]
[11, 44, 4, [11, 22], 4, [11, 22]]

In [37]:
b = []
num = 0

In [38]:
num += 1
b.append(num)
print(b)

[1]

In [39]:
# 리스트 정렬(오름차순) - sort
a = [11, 44, 33, 22, 55]
a.sort()
print(a)

[11, 22, 33, 44, 55]

In [41]:
# 리스트 정렬(내림차순) - sort
a = [11, 44, 33, 22, 55]
a.sort(reverse=True)
print(a)

[55, 44, 33, 22, 11]

In [42]:
# 리스트 정렬 원본유지하기
aa = [66,77,88,99,0]
bb = sorted(aa)
cc = sorted(aa,reverse=True)
print(aa)
print(bb)
print(cc)

[66, 77, 88, 99, 0]
[0, 66, 77, 88, 99]
[99, 88, 77, 66, 0]

In [43]:
#리스트 뒤집기 - reverse
a = [11, 44, 33, 22, 55]
a.reverse()
print(a)

[55, 22, 33, 44, 11]

In [45]:
# sorted 응용
fruit = ['banana', 'kiwi', 'orange', 'melon', 'pear', 'strawberry', 'blueberry']
result = sorted(fruit, key = len)
result2 = sorted(fruit, key = len, reverse = True)
print(fruit)
print(result)
print(result2)

['banana', 'kiwi', 'orange', 'melon', 'pear', 'strawberry', 'blueberry']
['kiwi', 'pear', 'melon', 'banana', 'orange', 'blueberry', 'strawberry']
['strawberry', 'blueberry', 'banana', 'orange', 'melon', 'kiwi', 'pear']

In [35]:
print('과일을 먹어볼까?')
for r in result:
    print(r + '냠냠 맛있다.')
print('와 ~ 다먹었다.')

과일을 먹어볼까?

NameError: name 'result' is not defined

In [49]:
# 인덱스 반환 - index
fruit = ['banana','kiwi','orange','melon','pear','apple','strawberry','blueberry']
fruit.index('melon')

3

In [53]:
# 인덱스 응용
fruit = ['banana','kiwi','orange','melon','pear','apple','strawberry','blueberry']
want = input('먹고 싶은 과일을 입력하세요')
where = fruit.index(wnat)
print(f'{want}를 좋아하시는군요!!! 그것은 {where + 1}번 째에 있습니다.')

먹고 싶은 과일을 입력하세요 melon

melon를 좋아하시는군요!!! 그것은 4번 째에 있습니다.

In [55]:
# 리스트에 요소 삽입 - insert
num = [11, 22, 33, 55, 66, 77, 88]
print(num)
num.insert(3,44) # 3은 인덱스 위치, 44는 원하는 값
print(num)

[11, 22, 33, 55, 66, 77, 88]
[11, 22, 33, 44, 55, 66, 77, 88]

In [59]:
ex = []

In [62]:
ex.insert(0,'맨앞')
print(ex)
ex.insert(-1, '-1인덱스')
print(ex)
ex.insert(0,'맨앞')
ex.insert(len(ex),'제일 끝')
print(ex)

['맨앞', '맨앞', '-1인덱스', '맨앞', '-1인덱스', '제일 끝', '제일 끝']
['맨앞', '맨앞', '-1인덱스', '맨앞', '-1인덱스', '제일 끝', '-1인덱스', '제일 끝']
['맨앞', '맨앞', '맨앞', '-1인덱스', '맨앞', '-1인덱스', '제일 끝', '-1인덱스', '제일 끝', '제일 끝']

In [5]:
# 리스트 요소제거 - remove
a = [1,2,3,1,2,3]
a.remove(3)
print(a)

[1, 2, 1, 2, 3]

In [18]:
# 리스트 요소 끄집어 내기 - pop (우클릭 + split cell)
a = [1,2,3]

In [8]:
hand = a.pop() # 리턴값을 받음
print(a)
print("받은거",hand)

[1, 2]
받은거 1

In [9]:
# 리스트에 포함된 요소 x의 개수 세기 - count
st = "안녕하세요 반가워요"
print(st.count("요"))
a = [1,2,3,1,1,1,1,1,2,3,24,5,34,1,1,]
print(a.count(1))

2
8

In [10]:
# 리스트 확장
a = [1,2,3]
a.extend([4,5])
print(a)
b = [11,22,33]
c = [44,55,66]
print(b+c)

[1, 2, 3, 4, 5]
[11, 22, 33, 44, 55, 66]

In [40]:
# create 생성 (bag split 해줘야됨)
bag = []

In [44]:
inp = input('필요한 항목을 넣어주세요.')
bag.append(inp)
print(f'장바구니에는 {bag}들이 있습니다.')

필요한 항목을 넣어주세요. 맥주

장바구니에는 ['호박', '감자', '술', '맥주']들이 있습니다.

In [45]:
# FIFO 출력(큐 출력)
hand = bag.pop(0)
print(f'{hand}꺼내서 장바구니에 {bag}가 남았습니다.')

호박꺼내서 장바구니에 ['감자', '술', '맥주']가 남았습니다.

In [47]:
# 선택 출력
bag = ['호박', '감자', '소주', '맥주', '피자']
print(f"바구니에 {bag} 물품이 있습니다.")
bring = input('꺼내고 싶은 물품을 입력하세요')
hand2 = bag.pop(bag.index(bring))
print(f"바구니에서 {hand2} 꺼내어 {bag}이 남았습니다.")

바구니에 ['호박', '감자', '소주', '맥주', '피자'] 물품이 있습니다.

꺼내고 싶은 물품을 입력하세요 소주

바구니에서 소주 꺼내어 ['호박', '감자', '맥주', '피자']이 남았습니다.

In [38]:
# 테스트 remove는 리턴값이 없다.
choice = 33
a = [11,22,33,44,55,66]
a.remove(choice)
print(f'{choice}을(를) 제거 하였습니다.')

33을(를) 제거 하였습니다.

In [61]:
# 실습
bag = ['호박', '감자', '소주', '맥주', '피자']
# 물품 하나를 추가하기. 단, 지정한 물품 바로 뒤에 추가하기
thing = input('추가할 물건 이름을 적어주세요')
where = input('어느 물품의 뒤에 넣어둘까요?')
search = bag.index(where)
bag.insert(search + 1,thing)
print(bag)

추가할 물건 이름을 적어주세요 바나나
어느 물품의 뒤에 넣어둘까요? 맥주

['호박', '감자', '소주', '맥주', '바나나', '피자']

In [64]:
# + 실습
bag = ['호박', '감자', '소주', '맥주', '피자']
# 물품 하나를 추가하기. 단, 지정한 물품 바로 뒤에 추가하기
test1 = input('추가할 물건 이름을 적어주세요')
test2 = input('어느 물품의 뒤에 넣어둘까요?')
bag.insert(bag.index(test2), test1)
print(bag)

추가할 물건 이름을 적어주세요 바나나
어느 물품의 뒤에 넣어둘까요? 맥주

['호박', '감자', '소주', '바나나', '맥주', '피자']

In [70]:
# 테스트
num = int(input('내가 누구게? 숫자를 입력하세요.'))
# int 안씌워주면 문자로 인식해서 아래 type도 string으로 뜸
print(num + 4, type(num))
# num+4 에 int를 씌워줄 경우 인풋에 입력한 숫자에 4가 더해지긴 하지만 type은 string으로 나옴
# int를 아무데도 안씌웠을 경우 4도 string으로 인식돼 (인풋에 입력한 숫자)4이렇게 나옴

내가 누구게? 숫자를 입력하세요. 1234

1238 <class 'int'>

In [79]:
# 환율 계산기 만들기
exc = 1450
dollar = int(input("원화로 계산할 달러를 입력하세요."))
won = dollar * exc
print(f"1달러는 {exc:,}원 이므로\n요청하신 {dollar}달러 변환값은 {won:,}원 입니다.")

원화로 계산할 달러를 입력하세요. 45

1달러는 1,450원 이므로
요청하신 45달러 변환겂은 65,250원 입니다.

In [125]:
import requests
import json
url = 'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey=P8BCEwczI7rfxdaAnhmW8Cwkom2XBoEb&data=AP01'
res = requests.get(url).text
data = json.loads(res)
print(type(data))
result = data[-1]['deal_bas_r']
print(result,type(result))
result2 = result.replace(",","").replace(".","")
print(result2,type(result2))
exc = int(result2)/10

<class 'list'>
1,460.8 <class 'str'>
14608 <class 'str'>

In [94]:
from IPython.display import clear_output
#test
inp1 = input('질문1')
clear_output(wait=True)
inp2 = input('질문2')
clear_output(wait=True)
inp3 = input('질문3')
print(inp1)
print(inp2)
print(inp3)

질문3 ㅅㅅㅅ

ㅋㅋㅋ
ㅎㅎㅎ
ㅅㅅㅅ

In [98]:
# test
# from decimal import Decimal # 더 정밀한 계산을 위해 넣는 코드로 안넣어도 됨
# result = Decimal(rr)*2
rr = 1449.4 * 2
print(round(rr,1))

2898.8

# 튜플 자료형

In [99]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1, 2, 3
t5 = ('a','b',('ab','cd'))

In [100]:
# 튜플의 요소값을 삭제하려 할 때 : 튜플은 삭제가 안되기 때문에 에러가 뜸
t1 = (1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [101]:
# 튜플 요솟값을 변경하려 할 때 : 튜플은 변경도 안되기 때문에 에러가 뜸
t1 = (1,2,'a','b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [102]:
dir(tuple) # tuple()

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [105]:
#인덱싱하기
t1 = (1,2,'a','b')
print(t1[0])

1

In [106]:
# 슬라이싱
t1 = (1,2,'a','b')
t2 = t1[1:]
print(t2)

(2, 'a', 'b')

In [107]:
# 튜플 더하기
t1 = (1,2,'a','b')
t2 = (3,4)
t3 = t1 + t2
print(t3)

(1, 2, 'a', 'b', 3, 4)

In [108]:
# 튜플 곱하기
t2 = 3,4
t3 = t2*3
print(t3)

(3, 4, 3, 4, 3, 4)

In [109]:
# 튜플 길이 구하기
len(t3)

6

In [110]:
dic = {'name':'pay', 'phone': '010-9999-1234', 'birth':'1118'}

In [111]:
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pay
010-9999-1234
1118

In [112]:
al = [11,22,33,44,55]
at = 11,22,33,44,55
ad = {0:11,1:22,2:33,3:44,4:55}
print(al[0])
print(at[0])
print(ad[0])

11
11
11

In [36]:
#test
for l in al:
    print(l)
print('-'*10)
for t in at :
    print(t)

NameError: name 'al' is not defined

In [116]:
a = {'aa':[1,2,3,4,5]}
print(a['aa'])

[1, 2, 3, 4, 5]

In [117]:
dic2 = {'aa':{'name':'pey','phone':'010-9999-1234','birth':'1118'}}
dic2['aa']['phone']

'010-9999-1234'

# 딕셔너리 쌍 추가, 삭제하기

In [40]:
information = {'name':'pey','phone':'010-9999-1234','birth':'1118'}
information['address'] = 2
print(information)

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'address': 2}

In [39]:
dic['array']=[1,2,3,4,5]
print(dic)

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}

In [121]:
print(dic)
del dic ['birth']
print(dic)

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
{'name': 'pey', 'phone': '010-9999-1234', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}

In [123]:
# 딕셔너리 만들 때 주의할 사항
a = {1:'a', 1:'b'}
print(a)

{1: 'b'}

### 1.3.2 딕셔너리 관련함수

In [130]:
a = {'name':'pey','phone':'010-9999-1234','birth':'1118','address':'busan','array':[1,2,3,4,5]}
# key 리스트 만들기 - keys
print(a.keys())
# value 리스트 만들기 - values
print(a.values())
# key,value 쌍 얻기 - items
print(a.items())
# key:value 쌍 모두 지우기 - clear
print(a)
a.clear()
print(a)

dict_keys(['name', 'phone', 'birth', 'address', 'array'])
dict_values(['pey', '010-9999-1234', '1118', 'busan', [1, 2, 3, 4, 5]])
dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118'), ('address', 'busan'), ('array', [1, 2, 3, 4, 5])])
{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
{}

In [43]:
a = {'name':'minyoung','birth':'0430', 'gender':'male'}
# key 리스트 만들기 - keys로 써야됨
print(a.keys())

# value 리스트 만들기 - values
print(a.values())

# key:value 쌍으로 만들기 - items
print(a.items())

# key:value 쌍 모두 지워기 - clear
# print(a.clear())로 입력하면 {}가 아니라 NONE으로 출력됨
a.clear()
print(a)

dict_keys(['name', 'birth', 'gender'])
dict_values(['minyoung', '0430', 'male'])
dict_items([('name', 'minyoung'), ('birth', '0430'), ('gender', 'male')])
{}

In [128]:
for k in a.keys():
    print(k)

name
phone
birth
address
array

In [131]:
a = {'name':'pey','phone':'010-9999-1234','birth':'1118','address':'busan','array':[1,2,3,4,5]}
print(a.get('name'))
print(a.get('super'))
print(a['money']) # 존재하지 않는 값임

pey
None

KeyError: 'money'

In [132]:
a = {'name':'pey','phone':'010-9999-1234','birth':'1118','address':'busan','array':[1,2,3,4,5]}
print('name' in a)

True

In [133]:
al = [11,22,33,44,55]
at = 11,22,33,44,55
ad = {0:11,1:22,3:44,4:55}

print(22 in al) # 리스트
print(99 in at) # 튜플
print(1 in ad) # 딕셔너리의 키

True
False
True

In [5]:
# 실수 random 모듈
import random
num1 = random.random()
print(f' 0과 1사이의 랜덤소수 {num1}')

num2 = random.randint(1,100)
print(f' 1과 100사이의 랜덤 실수 {num2}')

menu = ["구내식당","후문편의점","자가도시락","굶기","과자"]
lunch = random.choice(menu)
print(f'오늘 선택된 메뉴는 {lunch}를 추천드립니다!')

deck = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(deck)
print(deck)

 0과 1사이의 랜덤소수 0.43915732991875267
 1과 100사이의 랜덤 실수 21
오늘 선택된 메뉴는 후문편의점를 추천드립니다!
[1, 10, 7, 5, 8, 3, 9, 6, 4, 2]

## 1.4. 집합자료형

In [2]:
# 중복을 허용 하지 않기 때문에 하나만 뜸
# 순서가 없다.
s1 = set([1,2,3]) 
# set함수는 하나의 이터러블(리스트, 문자열 등)을 인자로 받아 집합을 생성하기 
# 때문에 1,2,3을 리스트로 만들어 하나의 이터러블로 만든 것 
print(s1,type(s1))
s2 = set("Hello")
print(s2, type(s2))

{1, 2, 3} <class 'set'>
{'e', 'l', 'H', 'o'} <class 'set'>

In [3]:
# 집합 자료형의 특징
s1 = set([11,22,33,11,22])
l1 = list(s1) # 순서대로 출력하기 위해 리스트로 변경
print(l1,type(l1))
t1 = tuple(s1)
print(t1,type(t1)) #순서가 존재하는 튜플도 가능

[33, 11, 22] <class 'list'>
(33, 11, 22) <class 'tuple'>

In [12]:
# 변수(교집합, 합집합, 차집합)
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [13]:
# 교집합
print(s1 & s2) # 방법 1. and 함수 이용
print(s1.intersection(s2)) # 방법 2. 교집합 함수

{4, 5, 6}
{4, 5, 6}

In [14]:
# 합집합
print(s1 | s2) # 방법 1. or 함수
print(s1.union(s2)) # 방법 2. 합집합 함수

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
# 차집합
print(s1 - s2)
print(s2 - s1)

{1, 2, 3}
{8, 9, 7}

### 1.4.2. 집합 자료형 관련 함수

In [11]:
# 값 1개 추가하기
s1 = set([1,2,3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [17]:
# 값 여러개 추가하기 - update
s1 = set([1,2,3]) # 하나의 이터러블만 가능
s1.update([4,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [13]:
# 특정 값 제거하기 - remove
s1 = set([1,2,3])
s1.remove(2)
print(s1)

{1, 3}

## 1.5. 불자료형

In [14]:
# True : 참을 뜻한다. (1)
# False : 거짓을 의미한다. (0)

In [15]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [16]:
3 == 3

True

In [19]:
# 자료형의 참과 거짓
print(bool("python"))
print(bool(""))
print(bool([1,2,3]))
print(bool(""))
print(bool((1,2,3)))
print(bool(()))
print(bool({'a':1}))
print(bool({}))
print(bool(1))
print(bool(0))
print(bool(None))

True
False
True
False
True
False
True
False
True
False
False

In [28]:
# random 으로 스토리 생성기 만들기

# 등장인물 리스트
characters = ["용감한기사","모험심 넘치는 고양이","호기심 많은 로봇","서투른 마법사","명석한 탐정","신나는 선생님"]
places = ["어두운 숲에서", "먼 우주 행성에서", "마법의 성에서","바닷속 도시에서","귀신이 나오는 흉가에서","재밌는 교실에서"]
events = ["숨겨진 보물을 발견했다","무시무시한 용과 싸웠다","비밀 통로를 발견했다","고대의 미스터리를 풀었다.","왕국을 위험에서 구하였다.","꾸안꾸로 다녔다"]

ch = random.choice(characters)
pl = random.choice(places)
ev = random.choice(events)
ch2 = random.choice(characters)
pl2 = random.choice(places)
ev2 = random.choice(events)

print(f"어느날, {ch}는 {pl} 모험을 떠나 {ev} 그리고 {ch2}는 {pl2} 에서 {ev2}")

어느날, 용감한기사는 어두운 숲에서 모험을 떠나 꾸안꾸로 다녔다 그리고 신나는 선생님는 귀신이 나오는 흉가에서 에서 숨겨진 보물을 발견했다

In [21]:
a = [1,2,3]
print(a.count[0])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [40]:
a = [1, 2, 3]
b=a   # 방법 1
# b=a[:]  # 방법 2 [리스트 전체를 복붙한다는 뜻]
          # 근데 대신 이 방법을 이용하면 a가 바꼈을 때 b가 같이 바뀌지 않음
print(id(a))
print(id(b))

a[1] = 4
print(a,id(a))
print(b,id(b))

a is b # 동일하다는 것을 확인해주는 명령어
       # 방법 2로 적용했다면 b는 바뀌지 않아 False로 나옴

2337406995200
2337406995200
[1, 4, 3] 2337406995200
[1, 4, 3] 2337406995200

True

In [47]:
# 변수 만들기
# 튜플
a, b = 'python','life' # 튜플은 괄호 안쳐도 됨
print(a,b)
#리스트
[c, d] = ['python','life']
print(c,d)

# 변수 값 교체
e = 3
f = 5
e, f = e, f
print(e)

python life
python life
3

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
for i in range(1,10):
    print(f'{