# 1. 자료형

## 1.1 리스트 자료형

###

In [4]:
odd = [1,3,5,7,9]

In [6]:
a = []
b = [1,2,3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]
print(e[2])
print(e[2][0])
print(e[2][1])

['Life', 'is']
Life
is

In [7]:
print(b[1] + b[2])

5

In [9]:
print(b[1] + b[2])
print(c[0] + c[3])
print(c[0] * b[2])

5
Lifeshort
LifeLifeLife

In [13]:
# 리스트의 슬라이싱
a = [11,22,33,44,55]
print(a[:])
print(a[2:])
print(a[:-3])
print(a[-2:])
print(a[::-1])

[11, 22, 33, 44, 55]
[33, 44, 55]
[11, 22]
[44, 55]
[55, 44, 33, 22, 11]

In [16]:
a = [1,2,3,4,5]
print(a[1:3])

[2, 3]

### 1.1.2. 리스트 연산하기

In [22]:
a = [11,22,33]
b = [44,55,66]
# 리스트 더하기
print(a+b)
# 리스트 반복하기
c = a * 3
print(c)
len(c)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 11, 22, 33, 11, 22, 33]

9

In [27]:
# 리스트 값 수정하기
a = [11,22,33]
a[2] = 44
print(a)
# a[3] = 55 #없는 요소를 수정하려고 하면 에러가 뜬다
# print(a)
del a[1]
# a[1] = '' # '' 수정삽입
# a[1] = 0 # 0으로 수정삽입
print(a)

[11, 22, 44]
[11, 44]

In [31]:
# 리스트값 슬라이싱으로 삭제
print(c)
del c[:4]
print(c)

[33]
[]

In [32]:
# 리스트 요소 비우기
c.clear()
print(c)

[]

In [33]:
a=[] # 리스트 초기화

In [36]:
a.append(4)
print(a)
a. append([11,22])
print(a)

[4, 4, 4]
[4, 4, 4, [11, 22]]

In [37]:
b = []
num = 0

In [38]:
num += 1
b.append(num)
print(b)

[1]

In [39]:
# 리스트 정렬(오름차순) - sort
a = [11, 44, 33, 22, 55]
a.sort()
print(a)

[11, 22, 33, 44, 55]

In [41]:
# 리스트 정렬(내림차순) - sort
a = [11, 44, 33, 22, 55]
a.sort(reverse=True)
print(a)

[55, 44, 33, 22, 11]

In [42]:
# 리스트 정렬 원본유지하기
aa = [66,77,88,99,0]
bb = sorted(aa)
cc = sorted(aa,reverse=True)
print(aa)
print(bb)
print(cc)

[66, 77, 88, 99, 0]
[0, 66, 77, 88, 99]
[99, 88, 77, 66, 0]

In [43]:
#리스트 뒤집기 - reverse
a = [11, 44, 33, 22, 55]
a.reverse()
print(a)

[55, 22, 33, 44, 11]

In [45]:
# sorted 응용
fruit = ['banana', 'kiwi', 'orange', 'melon', 'pear', 'strawberry', 'blueberry']
result = sorted(fruit, key = len)
result2 = sorted(fruit, key = len, reverse = True)
print(fruit)
print(result)
print(result2)

['banana', 'kiwi', 'orange', 'melon', 'pear', 'strawberry', 'blueberry']
['kiwi', 'pear', 'melon', 'banana', 'orange', 'blueberry', 'strawberry']
['strawberry', 'blueberry', 'banana', 'orange', 'melon', 'kiwi', 'pear']

In [47]:
print('과일을 먹어볼까?')
for r in result:
    print(r + '냠냠 맛있다.')
print('와 ~ 다먹었다.')

과일을 먹어볼까?
kiwi냠냠 맛있다.
pear냠냠 맛있다.
melon냠냠 맛있다.
banana냠냠 맛있다.
orange냠냠 맛있다.
blueberry냠냠 맛있다.
strawberry냠냠 맛있다.
와 ~ 다먹었다.

In [49]:
# 인덱스 반환 - index
fruit = ['banana','kiwi','orange','melon','pear','apple','strawberry','blueberry']
fruit.index('melon')

3

In [53]:
# 인덱스 응용
fruit = ['banana','kiwi','orange','melon','pear','apple','strawberry','blueberry']
want = input('먹고 싶은 과일을 입력하세요')
where = fruit.index(wnat)
print(f'{want}를 좋아하시는군요!!! 그것은 {where + 1}번 째에 있습니다.')

먹고 싶은 과일을 입력하세요 melon

melon를 좋아하시는군요!!! 그것은 4번 째에 있습니다.

In [55]:
# 리스트에 요소 삽입 - insert
num = [11, 22, 33, 55, 66, 77, 88]
print(num)
num.insert(3,44) # 3은 인덱스 위치, 44는 원하는 값
print(num)

[11, 22, 33, 55, 66, 77, 88]
[11, 22, 33, 44, 55, 66, 77, 88]

In [59]:
ex = []

In [62]:
ex.insert(0,'맨앞')
print(ex)
ex.insert(-1, '-1인덱스')
print(ex)
ex.insert(0,'맨앞')
ex.insert(len(ex),'제일 끝')
print(ex)

['맨앞', '맨앞', '-1인덱스', '맨앞', '-1인덱스', '제일 끝', '제일 끝']
['맨앞', '맨앞', '-1인덱스', '맨앞', '-1인덱스', '제일 끝', '-1인덱스', '제일 끝']
['맨앞', '맨앞', '맨앞', '-1인덱스', '맨앞', '-1인덱스', '제일 끝', '-1인덱스', '제일 끝', '제일 끝']