# p150 연습문제

In [6]:
import numpy as np
import pandas as pd
file_path = "./ref/iris.csv"
ori = pd.read_csv(file_path)
ori = ori.rename(columns={'species':'class'})

### 19번
- class 컬럼의 고유 데이터 종류 뽑아내기

In [7]:
spec = set(ori['class'])
arr = np.array(list(spec), dtype=object)
arr
ori

     sepal_length  sepal_width  petal_length  petal_width      class
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### 20번
- class 컬럼 고유 데이터 갯수 확인

In [8]:
len(arr)

3

### 21번
- class 컬럼의 데이터가 각 개체별로 몇개씩 있는지 확인

In [11]:
num = ori['class'].value_counts()
num.name = 'class'
num

class
setosa        50
versicolor    50
virginica     50
Name: class, dtype: int64

### 22번
- sepal_length 10개만 뽑기

In [10]:
top10 = ori['sepal_length'].head(10)
top10

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    4.6
7    5.0
8    4.4
9    4.9
Name: sepal_length, dtype: float64